:root{
  --color-darkpurple:#1d0c14;
  --color-purple:#46377A;
  --color-lilac: #7B6A9C;
  --color-hotpink:#CA3685;
  --color-greyblue:#445599;
  --color-salmon: #DF849C;
  --color-gradiant:  linear-gradient(to right,#EC116D 0%,#595CC7 50%,#13257B 100%)
   
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1b1a1a;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  gap: 16px;
  
}

/* tablets */
 /* @media screen and (width<768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  display: grid;
  padding: 40px;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 150px);
} */

/* movil */
/* @media screen and (min-width:760px) {
  .container {
    grid-template-columns: 1fr;

  }
} */ 

.box{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 40px;
}

.box-1{
  background-color: var(--color-lilac);
  background-image: url(../assets/mobile/tarjetas:mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 73px;
  font-size: 12px;
  font-style: italic;
  align-items: center;
  justify-items: center;
}

.box-2{
  position: relative;
  background-image: var(--color-gradiant);
  height: 163px;
  padding: 24px;
}

.icon{
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  left: 250px;
  top: 70px;
}

.box-3{
  background-color: var(--color-greyblue);
  height: 63px;
  align-items: center;
  flex-direction: row;
  gap: 60px;
  font-size: 14px;
  font-style: italic;
  padding: 22px 16px;
}

.icon-smile{
  width: 32px;
  height: 32px;
  
}

.box-4{
  position: relative;
  background-color: var(--color-lilac);
  height: 252px;
  padding: 24px 24px;
  font-size: 18px;
  font-style: italic;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
;
}

.text-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text-highlight{
  font-size: 18px;
  background-color: var(--color-darkpurple);
  border-radius: 15px;
  width: 160px;
  text-align: center;
  padding: 8px 8px;
}
.image-container {
  position:absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: flex-start;
  left: -2px;
  top: 150px;

}

.icon-dollar-medium{
  width: 90px;
  height: 90px;
}
.icon-dollar-small{
  transform: scaleY(-1);
  width: 46px;
  height: 46px;
}
.icon-dollar-large{
  position:absolute;
  left: 120px;
  top: -25px;
  transform: scaleY(-1);
  width: 195px;
  height: 195px;
 
}



/* .box-1{
  background-color: var(--color-lilac);
  grid-column: 1/2;
  grid-row: 1 / 4;
} */





/* .box-4{
  font-style: italic;
  font-size: 32px;
  background-color: var(--color-darkpurple);
  background-image: url(../assets/desktop/reader.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  grid-column: 4/5;
  grid-row: 1 / 4;
} */


.box-6{
  background-color: var(--color-hotpink);
  font-size: 40px;
  font-style: italic;
  grid-column: 1/2;
  grid-row: 4/ 6;
}
.box-7{
  background-color: var(--color-darkpurple);
  background-image: url(../assets/desktop/pay-later.png);
  grid-column: 2/4;
  grid-row: 5/ 6;
}

.box-9{
  background-color: var(--color-salmon);
  grid-column: 4/5;
  grid-row: 5/ 6;
}