:root{
  --color-darkpurple:#1d0c14;
  --color-purple:#46377A;
  --color-lilac: #7B6A9C;
  --color-hotpink:#CA3685;
  --color-greyblue:#445599;
  --color-salmon: #DF849C;
  --color-gradiant:  linear-gradient(to right,#EC116D 0%,#595CC7 50%,#13257B 100%)
   
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1b1a1a;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  gap: 16px;
  
}


@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 160px);
    gap: 20px;
  }
}
@media (min-width: 1025px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 160px);
    gap: 20px;
  }
}

.box{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 40px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box {
    border-radius: 15px;
  }
}

.box-1{
  background-color: var(--color-lilac);
  background-image: url(../assets/mobile/tarjetas:mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 73px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: italic;
  align-content: center;
  text-align: center;
  justify-content: center;
  /* padding: 30px; */
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box-1{
    grid-column: 2;
    grid-row: 1/2;
    height: auto;
    font-size: 24px;
    align-items: center;
  }
}
@media (min-width: 1025px) {
  .box-1 {
    grid-column: 3/4;
    grid-row: 1/2;
    height: auto;
  }

}

.box-2{
  position: relative;
  background-image: var(--color-gradiant);
  height: 163px;
  padding: 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box-2{
    grid-column: 1/3;
    grid-row: 2/4;
    height: auto;
    font-size: 50px;
     
  }
}
@media (min-width: 1025px) {
  .box-2 {
    grid-column: 2/4;
    grid-row: 2/5;
    height: auto;
  }

}

.icon-contactless{
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  left: 250px;
  top: 70px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .icon-contactless{
    position: absolute;
    content: '';
    width: 68px;
    height: 68px;
    left: 800px;
    top: 140px;
  }
}

.box-3{
  background-color: var(--color-greyblue);
  height: 63px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 60px;
  font-size: 14px;
  font-style: italic;
  padding: 22px 16px;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box-3{
    grid-column: 1;
    grid-row: 1/2;
    height: auto;
    font-size: 26px;
  
  }
  .icon{
    scale: 2;
  }
  
}
@media (min-width: 1025px) {
  .box-3 {
    grid-column: 2/3;
    grid-row: 1/2;
    height: auto;
  }

}

.icon{
  width: 32px;
  height: 32px;
  
}

.box-4{
  position: relative;
  background-color: var(--color-lilac);
  height: 252px;
  padding: 24px 24px;
  font-size: 18px;
  font-style: italic;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .box-4{
    grid-column: 1/2;
    grid-row: 4/6;
    height: auto;
    font-size: 26px;
  }
}
@media (min-width: 1025px) {
  .box-4 {
    grid-column: 1/2;
    grid-row: 1/4;
    height: auto;
  }

}

.text-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text-highlight{
  font-size: 18px;
  background-color: var(--color-darkpurple);
  border-radius: 15px;
  width: 160px;
  text-align: center;
  padding: 8px 8px;
}
.image-container {
  position:absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: flex-start;
  left: -2px;
  top: 150px;

}

.icon-dollar-medium{
  width: 90px;
  height: 90px;
}
.icon-dollar-small{
  transform: scaleY(-1);
  width: 46px;
  height: 46px;
}
.icon-dollar-large{
  position:absolute;
  left: 120px;
  top: -25px;
  transform: scaleY(-1);
  width: 195px;
  height: 195px;
 
}
@media (min-width: 768px) and (max-width: 1024px) {
  
  .text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .text-highlight{
    font-size: 30px;
    background-color: var(--color-darkpurple);
    border-radius: 15px;
    width: 250px;
    text-align: center;
    padding: 8px 8px;
  }
  .image-container {
    position:absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: flex-start;
  left: 120px;
  top: 230px;
  scale: 1.5;
  }
}

.box-5{
  background-color: var(--color-salmon);
  padding: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box-5{
    grid-column: 2;
    height: auto;
    font-size: 28px;
    justify-content: center;
    text-align: left;
    
  }
}
@media (min-width: 1025px) {
  .box-5 {
    grid-column: 4/5;
    grid-row: 5/6;
    height: auto;
  }

}
.text-highlight-small{
  font-size: 14px;
  background-color: var(--color-darkpurple);
  border-radius: 10px;
  width: 120px;
  text-align: center;
  padding: 4px 2px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .text-highlight-small{
    font-size: 24px;
    background-color: var(--color-darkpurple);
    border-radius: 10px;
    width: 190px;
    text-align: center;
    padding: 4px 2px;
  }
}

.box-6{
  background-color: var(--color-purple);
  font-size: 14px;
  font-style: italic;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 14px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box-6{
    grid-column: 2;
    grid-row: 5/6;
    height: auto;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
}
@media (min-width: 1025px) {
  .box-6 {
    grid-column: 4/5;
    grid-row: 4/5;
    height: auto;
  }

}

.box-7{
  background-color: var(--color-darkpurple);
  font-size: 19px;
  font-style: italic;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .box-7{
    grid-column: 2;
    grid-row: 6/9;
    height: auto;
    font-size: 36px;
    position: relative;
  }
}
@media (min-width: 1025px) {
  .box-7 {
    grid-column: 4/5;
    grid-row: 1/4;
    height: auto;
  }

}

.reader{
  width: 70%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .reader{
    position: absolute;
    content: '';
    top: 150px;

  }
}

.box-8{
  background-color: var(--color-hotpink);
  font-size: 16px;
  font-style: italic;
  padding: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box-8{
    grid-column: 1/2;
    grid-row: 6/9;
    height: auto;
    font-size: 54px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    padding: 70px;
  }
  .smile-icono-tablet{
    position: absolute;
    content: '';
    left: 120px;
    top: 130px;
    scale: 5;
    
  }
  
}
@media (min-width: 1025px) {
  .box-8 {
    grid-column: 1/2;
    grid-row: 4/6;
    height: auto;
  }

}

.box-9{
  background-color: var(--color-lilac);
  background-image: url(../assets/mobile/payLater.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 73px;
  font-style: italic;
  align-items: center;
  padding: 10px ;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box-9{
    grid-column: 1/3;
    grid-row: 9/11;
    height: auto;
    font-size: 40px;
    align-content: center;
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  .box-9 {
    grid-column: 2/4;
    grid-row: 5/6;
    height: auto;
  }

}
.title-box9{
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.subtitle-box9{
  font-size: 12px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title-box9{
    font-size: 35px;
    /* break-inside: none ; */
  }
  .subtitle-box9{
    font-size: 20px;
    
  }
}



